@media screen and (max-width: 600px) {
  :root {
    font-size: calc(20px + (40 - 20) * (100vw - 320px) / (2560 - 320));
  }
  body, input {
    font: 0.8em/1.5 sans-serif;
  }
  .switch__input {
    width: 1.5em;
    height: 1em;
  }
  .switch__input:before {
    top: 0.15em;
    left: 0.15em;
    width: 0.7em;
    height: 0.7em;
  }
  .switch__letters {
    margin-left: 0.2em;
    width: 1em;
    height: 1em;
  }
  .switch__letter:last-child {
    transform: translateX(10px);
  }
  .switch__input:checked, .switch__input:checked + .switch__letters {
    transform: translateX(0.2em);
  }
  .switch__input:checked:before {
    transform: translateX(0.5em);
  }
  .switch__input:checked ~ .switch__letters .switch__letter:last-child {
    transform: translateX(6px);
  }
}