@media screen and (max-width: 600px) {
  body {
    background-color: #000;
    font-family: 'Roboto', sans-serif;
    color: #fff;
  }

  h1 {
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.5);
    color: #fff;
    text-align: center;
    font-size: 2em;
    margin: 0 auto;
    animation: fadeIn 3s ease-in-out infinite;
  }

  .center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  @keyframes fadeIn {
    0% {opacity: 0;}
    50% {opacity: 1;}
    100% {opacity: 0;}
  }
}