body {
    background-color: pink;
}

header {
    background-color: hotpink;
}

nav a {
    color: palevioletred;
}

section {
    background-color: lightpink;
}

footer {
    background-color: hotpink;
}
