@media screen and (max-width: 600px) {
    body {
        background-color: blue;
    }

    header {
        background-color: blue;
    }

    nav a {
        color: palevioletred;
    }

    section {
        background-color: blue;
    }

    footer {
        background-color: blue;
    }
}