body {
    background-color: purple;
}

#question-container, #summary {
    text-align: center;
    margin-top: 50px;
}

textarea {
    width: 50%;
    height: 100px;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
}